.link {
    font-size: 20px;
    font-weight: 600;
    line-height: 115%;
    word-spacing: 0.58px;
}
.link:hover {
    text-decoration: underline;
}
.textColor {
    color: var(--text);
}
.primaryColor {
    color: var(--primary);
}
.disabled {
    cursor: default;
}
.disabled:hover {
    text-decoration: none;
}
