:root {
    --background: #2c3539;
    --primary: #40e0d0;
    --text: #f5f5dc;
    --shadow: rgba(0, 0, 0, 0.5);
    --shadow-spread: 2px;
    --shadow-blur: 4px;
    --shadow-x: 0px;
    --shadow-y: 0px;
    --error: #ff6b6b; /* New error color */
}
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
ol,
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background-color: var(--background);
}
.container {
    padding-inline: 24px;
    padding-top: 16px;
}
