.container {
    padding-inline: 24px;
    padding-top: 16px;
}
.QrTypeContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    width: fit-content;
}
