.button {
    cursor: pointer;
    box-shadow: none;
    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur)
        var(--shadow-spread) var(--shadow);
    line-height: 113%;
    word-spacing: 0.56px;
}
.round {
    border-radius: 90px;
}
.square {
    border-radius: 4px;
}
.primary {
    background: var(--primary);
    color: black;
    position: relative;
}
.primary::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 1;
}
.primary:hover::after {
    background: rgba(0, 0, 0, 0.2);
}
.background {
    background-color: var(--background);
    color: var(--text);
}
.reverse {
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: var(--background);
}
.reverse:hover {
    color: var(--background);
    background-color: var(--primary);
    box-shadow: none;
}
