.button {
    cursor: pointer;
    box-shadow: none;
    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur)
        var(--shadow-spread) var(--shadow);
    line-height: 113%;
    word-spacing: 0.56px;
}
.button:hover {
    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur)
        var(--shadow-spread) var(--shadow) inset;
}
.round {
    border-radius: 90px;
}
.square {
    border-radius: 4px;
}
.primary {
    background-color: var(--primary);
    color: black;
}
.background {
    background-color: var(--background);
    color: var(--text);
}
.reverse {
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: var(--background);
}
.reverse:hover {
    color: var(--background);
    background-color: var(--primary);
    box-shadow: none;
}
